h1 {
  font-family: league spartan;
  color: #ffa511;
  text-align: center;
  font-weight: 900;
  size: 55px;
  letter-spacing: 2px;
  line-height: 1.5;
  text-decoration: teal double underline;
  text-transform: uppercase;
}
