/* to center a div --> set it's width and then set the margin to auto*/

div {
  height: 200px;
  width: 200px;
  background-color: #4dff00ff;
  margin-top: 10px;
  margin: 0 auto;
  transition: margin-top 2s ease-in 0.2s;
}
div:hover {
  margin-top: 400px;
  background-color: pink;
}
